/* General styling applied to the main App component */
* {
  padding: 0px;
  margin: 0px;
}
/* Set CSS variables */
:root {
  --navWidth: 5rem;
  --navHeight: 4rem;
  --navColor: #afbfaa;
}
html {
  scroll-behavior: smooth;
}
/* Main's width is calculated in the App.tsx file with an inline styling using calc*/
.main {
  margin-left: var(--navWidth);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Shadows Into Light Two', cursive !important;
}
/* Prevents images from being dragged */
img {
  max-width: 100%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/* If larger than a laptop, add padding for the nav bar */
@media only screen and (min-width: 1024px) {
  .main {
    margin-left: 7vw;
  }
}
/* If phone, remove padding on the left since nav bar is now on the top */
@media only screen and (max-width: 468px) {
  .main {
    margin-left: 0;
  }
}
